.contactusmap {
		position: relative;
		top: 20px;
        width: 520px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
      
.contactusmap {
        width: 40%;
        transition: 0.5s all ease-in-out;
    }
      
.contactusmap:hover  {
        transform: scale(1.5);
		position: relative;
		left: 100px;
		top: 35px;
    }
/*-------Header-----*/
.Contact-us h2{
	position: relative;
	right: 17%;
}
.Contact-us i {
	position: relative;
	font-size: 35px;
	bottom: -10px;
}
.container {
	position: relative;
	left: 750px;
	bottom: 300px;	
	width: 400px;
}

.container p{
	width: 100%;	
}
.barcode {
	position: relative;
	left: 1100px;
	bottom: 550px;
}
.gps {
	position: relative;
	left: 1090px;
	bottom: 550px;
}
/*--------------FOOOTAG-------------*/
.Footag{
	background:  hsla(194,100%,35%,1.00);
	
}
.ftag i{
	position: relative;
	font-size: 35px;
	bottom: -10px;
}
.ftag{
	position: relative;
	left: 880px;
	bottom: 70px;
	width: 350px;
}
.flogo img {
	position: relative;
	left: 120px;
}
.flogo {
	padding: 1px 10px;
	position: relative;
	top: 100px;
	left: 20px;
}
