
.contactusmap1 {
		position: relative;
        left: -20px;
        margin: 0 auto;
    }
      
.contactusmap1 {
        width: 60%;
        transition: 0.5s all ease-in-out;
    }
      
.contactusmap1:hover  {
        transform: scale(1.5);
		position: relative;
		left: 100px;
		top: 35px;
    }
/*-------Header-----*/

.container {
	position: relative;
	left: 680px;
	bottom: 350px;	
	width: 500px;
}

.container p{
	width: 100%;
}

.barcode1 {
	position: relative;
	left: 265px;
	bottom: 230px;
}
.gps1 {
	position: relative;
	left: 145px;
	bottom: 190px;
}
/*--------------FOOOTAG-------------*/
.Footag{
	background:  hsla(194,100%,35%,1.00);
	
}


